@media only screen and (max-width: 768px) {
  span.nav-project-title { display: none; }
  .t-2 { font-size: 20px; font-weight: 500; }
  .intro-container { border-left: 0 !important; }
}

/*general*/

body { color: #333333;  }
h1, h2, h3 , section, ul, li, p{ margin: 0; padding: 0; }
a { color: #333333;  }
a:link { text-decoration: none;  }
a:hover { color: #317af6; }
a p { color: #333333; }
p { font-size: 18px; line-height: 32px; margin-top: 12px; }
h2 { font-size: 48px; font-weight: bold; padding-bottom: 16px; }
h3 { font-size: 28px; line-height: 36px; padding-top: 24px; }
section { margin-top: 40px; }
img { width: 100%; 
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
footer { height: 280px; background-color: black; }

.deactive { color: #AAAAAA !important; }
.mini-text { font-size: 8px !important; }
.justify { text-align: justify; max-width: 480px; }
.t-1 { font-size: 16px; line-height: 28px; font-weight: 500; }
.t-2 { font-size: 40px; line-height: 48px; font-weight: normal; }
.t-3 { font-family: courier, serifs; font-weight: normal; font-size: 14px; padding-bottom: 6px; }
.t-4 { color: #aaaaaa; font-size: 12px; font-style: italic; line-height: 20px; margin-top: 8px; }
.t-5 { font-size: 20px; font-weight: bold; }
.thumbnail-textbox { padding-bottom: 16px; min-height: 72px; }
/*.grey { background-color: #f9f9f9; }*/
.logo { font-size: 20px; font-weight: 400; line-height: 30px; }
.subtitle-logo {  font-size: 16px; font-weight: 500; line-height: 1.3em; }
/*.intro-container { margin-bottom: 48px; }*/
.intro-container p { margin-top: 16px; }
.intro-container a { text-decoration: underline; font-weight: bold; color: #307af6; }
.user-story { 
	-webkit-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1); 		
	-moz-box-shadow: 2px 2px 5px 0px rgba(201,201,201,1);
	box-shadow: 2px 2px 5px 0px rgba(201,201,201,1); 
	padding: 16px;
}
/*fixed header*/

nav { position: fixed; top: 0; opacity: 0.95; background-color: white; width: 100%; max-width: 1151px; z-index: 2; }
nav ul { margin-top: 6px; }
nav ul li { display: inline-block; padding: 8px; color: #437aee; font-size: 16px; }
nav.project-title { font-weight: normal; }
.chevron { width: 8px; }
span.back-home { color: #317af6; font-weight: bold; }

/*main*/

.main { max-width: 1151px; margin: 0 auto; } 
.portfolio-section {  margin-top: 72px; text-align: left; }
.solid-top { border-bottom: 2px solid black; }
.chevron { position: relative; top: -1px; }
ul, ol { font-size: 16px;  margin-left: 24px; margin-top: 16px;  }
ul li, ol li { padding: 4px; }
ol { padding-left: 0; }
ul.results { list-style: none; padding-bottom: 8px; }
ul.results li { list-style: none; margin-top: 4px; }
.hero-banner { background-color: black; height: 480px; }
.hero img { width: 100%; margin: auto; display: block; margin-top: 16px; }
span.subtitle { font-size: 14px; text-transform: uppercase; color: #AAAAAA; letter-spacing: 1px; }
p.subtitle { font-size: 10px; color: black; letter-spacing: 1.5px; text-align: left; line-height: 16px; }
p.card-description { font-size: 20px;  margin-top: 14px; }

.menu-title { font-size: 14px; color: #AAAAAA; font-weight: normal; letter-spacing: 0.5px; }

/*shared margins*/

.black { color: black !important; }
.uppercase { text-transform: uppercase; }
.underline { text-decoration: underline; }
.p-1 { margin-top: 12px; margin-bottom: 12px; }
.m-1 { margin-top: 40px; }
.m-2 {  }
.subline { border-top: 1px dotted black; padding: 24px 0 16px 0; }
.right { float: right; text-align: right; }
.clear { clear: both; }
